*/__pycache__/*
crawlPackage/__pycache__/*
fetchPackage/__pycache__/*
*.pyc
crytic-export/*
staticAnalyzer/slither
# staticAnalyzer/cache/


# where we store the cache of etherscan/quicknode receipts
crawlPackage/database/*
crawlPackage/cache/

settings.toml

# where we store the cache of transactions
cache/ 


*.pyc

*.pickle